body {
    max-height: 100%;
    max-width: 100%;
    background-color: blue;
}

main {
    padding: 16%;
    margin: 35px;
    background-color:aqua;
    display: grid;
}
main h1{
    text-align: center;
}
button {
    border: 4px solid white;
    border-radius: 9px solid white;
    margin: auto;
}